*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/TCSyslogFinder.*
vs.proj/TCSyslogFinder.opensdf
vs.proj/TCSyslogFinder.exp
vs.proj/TCSyslogFinder.lib
vs.proj/TCSyslogFinder.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
